/*
Error: Invalid CSS after "    }": expected selector or at-rule, was "}"
        on line 230 of U:\vhosts\base\template\scss\styles.scss

225: /*Registration from defaults *\/
226: .errorContainer
227:     label{
228:         display:inline;
229:     }
230: }
231: 
232: 
233: 
234: /* $TABLES
235: /*------------------------------------*\/

Backtrace:
U:\vhosts\base\template\scss\styles.scss:230
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:43:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:404:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:18:in `load'
C:/Program Files (x86)/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    }\": expected selector or at-rule, was \"}\"\A         on line 230 of U:\vhosts\base\template\scss\styles.scss\A \A 225: /*Registration from defaults */\A 226: .errorContainer\A 227:     label{\A 228:         display:inline;\A 229:     }\A 230: }\A 231: \A 232: \A 233: \A 234: /* $TABLES\A 235: /*------------------------------------*/"; }
